// Settings
@import 'bower_components/inuit-defaults/settings.defaults';
@import 'bower_components/inuit-responsive-settings/settings.responsive';

// Tools
@import 'bower_components/inuit-functions/tools.functions';
@import 'bower_components/inuit-responsive-tools/tools.responsive';
@import 'bower_components/inuit-tools-widths/tools.widths';

// Generic
@import 'bower_components/inuit-normalize.css/generic.normalize';

// Base
@import 'bower_components/inuit-lists/base.lists';
@import 'bower_components/inuit-page/base.page';
html {
    overflow-y: auto;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    position: relative;
}

// Objects
$inuit-enable-layout--flush: true;
@import 'bower_components/inuit-layout/objects.layout';
@import 'bower_components/inuit-list-bare/objects.list-bare';

// Components
// Height for search-filter component. Used in both the search-filter and
// venues-by-category components.
$c-search-filter-height: 66px;

@import 'components/venues-list/style';
@import 'components/venues-by-category/style';
@import 'components/venues-map/style';
@import 'components/search-filter/style';
@import 'components/geolocation-dialog/style';
@import 'components/dialog-container/style';

// Trumps
@import 'bower_components/inuit-widths/trumps.widths';
@import 'bower_components/inuit-widths-responsive/trumps.widths-responsive';

// Needed for elements leading up the the google map; without this, the map will
// not show.
.u-gmap-ancestor {
    height: 100%;
}

// On "lap-and-up" screen sizes, map is too wide and therefore won't sit beside
// the venues list/search field if I use width: 80%. Must use .u-just-under-4/5
// which is just a little narrower.
@include media-query(lap-and-up) {
    .u-just-under-4\/5-lap-and-up {
        width: 79% !important;
    }
}

// On mobile (the default), the map is at the top (first), and the venues list
// is at the bottom (second.) Reverse this on larger screen sizes
// ("lap-and-up") so the venues list can be on the left (first) and the map can
// be on the right (second.)
.wrapper {
    @include media-query(lap-and-up) {
        direction: rtl;
    }
}

// For the two major layout items:
// - By default, set each major layout items' height to 50% so they stack
//   vertically.
// - For "lap-and-up":
//    - Restore left-to-right direction so text aligns to the left. This is
//      necessary because of the technique used to switch the order of the major
//      layout items.
//    - Set major layout items to full height so they are arranged beside each
//      other.
.venues-map, .venues-control {
    height: 50%;

    @include media-query(lap-and-up) {
        height: 100%;
        direction: ltr;
    }
}

// "Powered By Foursquare" attribution.
.foursquare-attribution {
    position: absolute;
    bottom: 10px;
    right: 50px;
    z-index: 1;
}
