// Settings
@import 'bower_components/inuit-defaults/settings.defaults';
@import 'bower_components/inuit-responsive-settings/settings.responsive';

// Tools
@import 'bower_components/inuit-functions/tools.functions';
@import 'bower_components/inuit-responsive-tools/tools.responsive';
@import 'bower_components/inuit-tools-widths/tools.widths';

// Generic
@import 'bower_components/inuit-normalize.css/generic.normalize';

// Base
@import 'bower_components/inuit-lists/base.lists';
@import 'bower_components/inuit-page/base.page';
html {
    overflow-y: auto;
}

html,body {
    height: 100%;
}

// Objects
$inuit-enable-layout--tiny: true;
@import 'bower_components/inuit-layout/objects.layout';
@import 'bower_components/inuit-list-bare/objects.list-bare';

// Components
@import 'components/venues-list/style';
@import 'components/venues-by-category/style';

// Trumps
@import 'bower_components/inuit-widths/trumps.widths';
@import 'bower_components/inuit-widths-responsive/trumps.widths-responsive';

// Needed for elements leading up the the google map; without this, the map will
// not show.
.u-full-height {
    height: 100%;
}

// Map wraps underneath the categories/venues list if I use .u-4\/5, so I have
// to use this:
.u-just-under-4\/5 {
    width: 79%;
}
