<div class="dialog-container">
  <geolocation-dialog class="dialog-container__dialog--dialog"></geolocation-dialog>
  <div data-bind="foreach: errors">
    <div data-bind="css: { 'dialog-container__dialog--warning': level === 'warning', 'dialog-container__dialog--critical': level === 'critical' }" class="dialog-container__dialog">
      <p data-bind="text: message"></p>
      <button data-bind="click: function () { $root.hideError($data); }" class="dialog-container__error__dismiss-button">Dismiss</button>
    </div>
  </div>
</div>
