.c-venues-by-category {
    height: calc(100% - #{$c-search-filter-height} - 16px);
    overflow-y: scroll;
}

.c-venues-by-category__category {
    padding: 5px 0 0 35px;
    border: 1px grey solid;
    margin: .5em;
}

.c-venues-by-category__category__title {
    font-weight: bold;
}
