.c-venues-by-category, .c-venues-by-category__categories {
    height: 100%;
}

.c-venues-by-category__categories {
    margin: 0 0 0 1em;
    overflow-y: scroll;
}

.c-venues-by-category__category-name {
}

