<div class="c-venues-by-category">
  <ul data-bind="foreach: categories" class="c-venues-by-category__categories list-bare">
    <li class="c-venues-by-category__category">
      <div class="c-venues-by-category__category__header">
        <div data-bind="style: { 'background-color': color }" class="c-venues-by-category__category__header__icon">
          <img data-bind="attr: { src: icon.prefix + '32' + icon.suffix }" class="c-venues-by-category__category__header__icon__img">
        </div>
        <div class="c-venues-by-category__category__header__title">
          <span data-bind="text: pluralName"></span>
        </div>
      </div>
      <venues-list class="c-venues-by-category__category__venues" params="venues: venues"></venues-list>
    </li>
  </ul>
</div>
