<div class="c-venues-by-category">
  <div data-bind="visible: !categories().length">No results</div>
  <ul data-bind="foreach: categories" class="c-venues-by-category__categories list-bare">
    <li data-bind="style: { background: 'url(' + icon.prefix + '32' + icon.suffix + ') no-repeat, linear-gradient(90deg, ' + color + ' 1px, ' + color + ' 32px, #FFF 33px, #FFF 100%)' }, visible: visible"
        class="c-venues-by-category__category">
      <div class="c-venues-by-category__category__title">
        <span data-bind="text: pluralName"></span>
      </div>
      <venues-list class="c-venues-by-category__category__venues" params="venues: venues"></venues-list>
    </li>
  </ul>
</div>
