search-filter {
    display: block;
    padding: 8px;
    height: $c-search-filter-height;
}

.c-search-filter__label {
    display: block;
    font-size: .9em;
    font-weight: bold;
}

.c-search-filter__input {
    display: block;
    width: 100%;
}
