.info-window-content__heading {
    margin: 0;
}

.info-window-content__logo {
    margin: 4px;
    vertical-align: middle;
}

.info-window-content a {
    font-size: 1.1em;
    color: black;
}

.foursquare-attribution {
    position: absolute;
    bottom: 10px;
    right: 50px;
    z-index: 1;
    pointer-events: none;
}
