.geolocation-dialog {
    text-align: center;
    font-weight: bold;
    padding: 1em;
    display: block;
    color: #325e1c;
    background: #f3faef;
    border: 1px solid #77b259;
}

.geolocation-dialog button {
    padding: 0 10px;
    margin: 0 10px;
}
